*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

:root{
    --bodybg: #f2efea;
    --hdbg: #0B4F6C;
    --hdtxt: #D9E5D6;
    --navbg:#888098;
    --navtxt: black;
    --secbg: #D9E5D6;
    --sectxt: #46351D;
    --formwidth: 400px;
    --hover: rgba(255,255,255,0.2);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bodybg);
}

header, h2, footer {
    background-color: var(--hdbg);
    color: var(--hdtxt);
    text-align: center;
    
}

h1 {
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
}

h4{ 
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 0.25rem; 
}

#menu {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--hdbg);
    color: var(--hdtxt);
    padding: 0.25rem;
}

#menu::before{
    content: "≡";
}

#menu.open::before{
    content: "X";
}

nav {
    background-color: var(--navbg);
}

nav ul {
    padding: 0;
}

.navigation a {
    display: none;
    color: var(--navtxt);
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
    font-size: 1.25rem;
}

nav a:hover {
    background-color: var(--hover);
}

nav .active{
    background-color: rgba(0,0,0,0.2);
    color: white;
}

.open a {
    display: block;
} 

.homepage {
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center;
}

section {
    width: 100%;
    background-color: var(--secbg);
    color: var(--sectxt);
    margin-bottom: 10px;
}

section h3 {
    padding-top: 1rem;
}

.hero{
    height: auto;
    max-width: 100% !important;
}

#secpot {
    display: flex !important;
    align-items: center !important;
    flex-flow: column;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 1rem;
}

section h2 {
    display: block;
    padding: 0.5rem;
}

section #texts, #weather, #forecast, #mainweather, #spotlights {
    padding: 1rem;
}

ul {
    list-style-type: none;
}

#spotlights {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-self: center;
    row-gap: 10px;
}

#banner {
    background-color: var(--bodybg);
    position: absolute;
    left: 25%;
    top: 40%;
    text-align: center;
}

#bannerbutt {
    position: sticky;
    left: 100%;
    bottom: 100%;
    width: 25px;
    height: auto;
    font-size: 1rem;
    border: none;
    background-color: var(--hdtxt);
    color: var(--hdbg);
    border: var(--hdbg) 1px solid;
}

#bannerbutt:hover{
    cursor: pointer;
    background-color: var(--navbg);
    color: var(--secbg);
}

#banner p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.25rem;
    padding-bottom: 0rem;
}

.hide {
    display: none;
}

#spotlights a{
    display: grid;
    justify-content: center;
}

.weathercon{
    text-transform: capitalize;
}

#mainweather{
    text-align: center;
    margin-top: -0.75rem;
}

 #forecast{
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-flow: row;

}

.wthh3{
    text-align: center;
}

#forecast section {
    border: 1px solid var(--hdbg);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

#forecast section h4 {
    margin-bottom: 7px;
}

#forecast section p {
    margin-bottom: 5px;
}

.tempmin {
    color: blue;
    /* font-weight: bold; */
}

.tempmax {
    color: #c20000;
    /* font-weight: bold; */
}

/* Discover Page */

.events {
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
}

.events li{
    padding: 0.5rem;
}

.discover {
    display: block;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
    
#sidebar section{
    margin: 0.5rem;
    width: 100%;
}

#sidebar p, ul {
    padding: 0.5rem;
}

#sidebar iframe {
    width: 100%;
    height: 600px;
}

#localinterest h2 {
    padding: 1rem;
}

.discpic {
    position: relative;
    margin-bottom: 1rem;
}

.discpic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.discpiccaption {
    position:absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(0,0,0,0.3);
    padding: 1.5rem; 
    font-size: 2.5rem;
    color: white;
}


#thanks p {
    padding: 0.5rem;
}


/* Join Form  */

#join {
    background-color: var(--secbg);
    color: var(--sectxt);
    padding: 0.5rem;
    width: 100%;
    max-width: var(--formwidth);
}

.frmhd {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

#join label{
    display: block;
    padding-bottom: 1rem;
}

#join input[type="text"],
#join input[type="tel"],
#join input[type="email"],
#join textarea
{

    display: block;
    width: 100%;
    max-width: var(--formwidth);
    padding: 0.75rem;
}

#join input[type="radio"] {
    margin-right: 6px;
}

#rodeo label{
    padding: 0.25rem !important;
}

#join input:placeholder-shown{
    background-color: rgba(255, 255, 255, 0.455);
}

#join input[type="submit"]{
    background-color: var(--hdbg);
    color: var(--hdtxt);
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin-top: 1.5rem;
    width: 100%;
    max-width: var(--formwidth);
}


/* Form sidebar */

#memsid div{
    padding: 0.5rem;
}

#memsid ul{
    list-style-type: disc;
    padding-left: 2rem;
}

.nested{
    list-style-type: circle !important;
}

/* directory */

#membutts{
    padding-top: 1rem;
    padding-left: 2rem;
}

#membutts button {
    background-color: var(--navbg);
    color: var(--navtxt);
    font-size: 1.25rem;
    margin-right: 15px;
    padding: 0.5rem;
    /* border: var(--sectxt) solid 2px; */
    border: none;
    box-shadow: 2px 2px var(--navtxt);
    cursor: pointer;
}

.membuttactive{
    background-color: var(--hdbg) !important;
    color: var(--hdtxt) !important;
}

#membutts button:hover{
    background-color: var(--secbg) !important;
    color: var(--sectxt) !important;
}

.listmem{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 2rem;
}

.listmem section{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    padding: 0.5rem;
    width: 95%;
    align-items: center;
}

.listmem section:nth-child(even){
    background-color: var(--navbg);
    color: var(--navtxt);
}

.gridmem .memdisplay, .listmem .memigmy {
    display: none;
}



.gridmem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important;
    justify-content: center;
    column-gap: 10px;
}

.gridmem section {
    width: 500px !important;
    text-align: center !important;
    /* background-color: blue; */
    margin: 2rem;
    padding: 0.75rem;
    align-content: center;
    /* border: var(--sectxt) solid 2px; */
}

.gridmem section img {
    margin-bottom: 0.5rem;
}


/* Footers */

footer {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact {
    text-align: left;
    grid-column: 1/2;
}

.genInfo {
    grid-column: 3/4;

}