@media screen and (min-width: 617px){
    #menu {
        display: none;
    }
    
    .navigation ul{
        display: flex;
        justify-content: space-evenly;
        flex-basis: 100%;
    }

    .navigation a {
        display: block;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        justify-content: center;
        column-gap: 2rem;
    }
    
    #sidebar {
        display:inline;
        width: 100%;
    }


    #localinterest {
        display: grid;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 0;
    }



    #localinterest picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

   
}