@media screen and (min-width: 617px){
    #menu {
        display: none;
    }
    
    .navigation ul{
        display: flex;
        justify-content: space-evenly;
        flex-basis: 100%;
    }

    .navigation a {
        display: block;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}