*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #A6979C !important;    
    color: #32292F, !important;
}

header, main, footer {
    padding: 1rem; 
 }

header {
    background: #00a9a5;
    color: #32292F;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header span {
    align-self: center;
}

ul {
    list-style-type: none;
}
  
nav {
    background: #0b5351;
}

nav a {
    display: block;
    color: #F0F7F4;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
}

nav a:hover {
    background-color: rgba(255,255,255,0.3);
}

nav .active{
    background-color: rgba(0,0,0,0.5);
}

.parent section {
    border: 1px solid black;
    background-color: #F0F7F4;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    color: #32292F;
}

.card h2 {
    display: block;
    background-color: #00a9a5;
    color: #32292F;
}

.card h2, .card ul {
    padding: 0.5rem;
}

.card p{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    color: #32292F;
}

footer {
    background-color: #00a9a5;
    text-align: center;
}